*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container
{
    max-width: 1280px;
    margin: auto;
}

header
{
    background-color: blueviolet;
    text-align: center;
    color: cornsilk;
    padding: 10px;
}

.title
{
    font-size: 26px;
}

section
{
    height: 460px;
    padding: 30px;
    background-image: url('../img/backgorund.png');
    background-size: cover;
    overflow: hidden;
    background-position: center;
    
}
h2
{
    font-size: 16px;
}

.form-container
{
    max-width: 250px;
    background-color: #FFFFFFbb;
    float: right;
    padding: 10px;
    margin-top: 20px;
    
    
}

.mb
{
    margin-bottom: 15px;
}

input, select
{
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]
{
    color: white;
    background-color: blueviolet;
    font-weight: bold;
}

/*select
{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../img/arrow.jpg');
    background-repeat: no-repeat;
    backgorund-position: calc(100% - 10px) center;
}*/
footer
{
    background-color: #202121;
    padding: 30px;
    text-align: center;
}
.picture
{
    width: 180px;
}

.description
{
    color: white;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}

.description p, .description h3
{
    margin-bottom: 20px;
}